
.search-result 
{
  display: flex;
  flex-direction: column;
  color: #fff; 
  padding-bottom: 10px;

  background-color: transparent;
  border-bottom: 2px solid #4a4f54;
  transition: background-color 0.1s;
}

.search-result:hover{
  background-color: #4a4f54;
  cursor: pointer;
}

.search-result section
{
  display: flex;
  flex-direction: row;

  align-items: flex-end;
  height: 30px;
  
  gap: 7px;

  font-size: 22px;
  color: #fff;
}

.search-result aside
{
  display: flex;
}

.search-result-word
{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;


  margin: 0;

}

.search-result-description
{
  margin-top: 0px;
  font-size: 14px;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  color: #B3B3B3;
}
